// bower:scss
// endbower
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@import "fonts";

$left: 300px;
$right: 1024px - $left;

$left-background: #f4f4f4;
$anchor-color: #1E6FFF;

$mobile: "(max-width: 768px)";

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: $anchor-color;
}

html {
  height: 100%;
}

body {
  background: #fafafa;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: linear-gradient(90deg, $left-background 50%, #fff 50%);
  min-height: 100vh;

  @media #{$mobile} {
    background: #ffffff;
  }
}

.container {
  max-width: 1024px;
  height: 100vh;
  margin: 0 auto;
}

.left-section {
  width: $left;
  position: fixed;
  min-height: 100%;
  background-color: $left-background;
  padding: 30px 0;

  @media #{$mobile} {
    width: 100%;
    position: relative;
    min-height: 0;
  }

  .dp {
    width: 120px;
    height: 120px;
    background: #ffffff url("../images/favicon_lazy.png") center;
    background-size: cover;
    padding: 10px;
    border-radius: 3px;
    border: 5px solid #ffffff;
    margin: 0 auto 30px;
  }

  h2 {
    text-align: center;
    color: #8c8c8c;
    text-transform: uppercase;
    span {
      color: black;
    }
  }

  .bio {
    text-align: center;
    line-height: 34px;
    font-size: 14px;
    color: #888;
  }

  .footer {
    position: absolute;
    width: $left;
    bottom: 10px;
    @media #{$mobile} {
      position: relative;
      width: auto;
    }
    .copy {
      text-align: center;
      font-size: 14px;
      color: #666;
      @media #{$mobile} {
        display: none;
      }
    }
    .social{
      display: table;
      margin: 20px auto;
      @media #{$mobile} {
        margin-bottom: 0;
      }
      a{
        font-size: 20px;
        color:#888;
        text-align: center;
        &:hover{
          color: #000;
        }
      }
    }
  }
}

.right-section {
  width: $right;
  position: relative;
  left: $left;
  min-height: 100%;
  background-color: #ffffff;
  padding: 30px;

  @media #{$mobile} {
    width: 100%;
    left:0;
  }

  h3 {
    text-transform: uppercase;
    color: #777;
    font-weight: lighter;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
  }

  .project {
    padding: 15px 5px;
    border-bottom: 1px solid #f9f9f9;
    overflow: auto;
    &:hover {
      background-color: #fcfcfc;
    }
    .image {
      width: 75px;
      height: 75px;
      float: left;
      border-radius: 2px;
      margin-right: 15px;
      background: #ffffff center;
      background-size: cover;
      @media #{$mobile} {
        display: none;
      }
    }
    .desc {
      font-size: 13px;
      color: #808080;
      line-height: 22px;
    }
    h4 {
      margin-top: 0;
      margin-bottom: 5px;
      display: inline-block;
      font-weight: 500;
    }
    .tag {
      display: inline-block;
      opacity: 0.9;
      &:hover {
        opacity: 1;
      }
    }
  }

  .blogs-section{
    margin-top: 20px;
  }
}

