@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.social {
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 30px;
    max-width: 200px;
}

.social i {
    color: #fff;
    background-color: #4a4a4a;
    width: 38px;
    border-radius: 50%;
    height: 38px;
    padding: 9px 0;
    text-align: center;
    font-size: 20px;
}

.social i:hover {
    background-color: #e43a79;
}

.back {
    padding: 7px 10px;
    color: #fff !important;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .back{
        right: 0;
    }
}

.back i {
    margin-right: 10px;
}

.oss .experience {
    font-size: 14px;
}
