@import "./base";

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
}

* {
    -webkit-font-smoothing: antialiased;
}

html {
    background-image: url('./static/cover.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.banner {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    min-height: 600px;
    padding: 0 40px;
    background-color: rgba(0, 0, 0, 0.93);
    color: #fff;
  }

  button {
    background-color: #2196F3;
    border: 0;
    padding: 8px 20px;
    color: #fff;
    font-size: 14px;
    border-radius: 2px;
    margin: 0 10px;
    margin-bottom: 40px;
    cursor: pointer;
    outline: none;
  }

  button:hover {
    background-color: #2398f5;
  }

  .screenshots {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 500px;
    flex: 1;
    max-width: 1100px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.screenshot-img {
    flex: 1;
}

.demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.screenshot-img>div {
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    border-bottom: 1px solid #eee;
}

.oss-wrapper {
    background-color: #673AB7;
    padding-top: 30px;
    padding-bottom: 60px;
}

.mdl-card__supporting-text {
    width: 100%;
}

.mdl-card__actions .source {
    float: right;
    margin-right: 8px;
}

.mdl-card__actions .mdl-button--icon {
    font-size: 16px;
}

.social-home {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.social-home i {
    color: #fff;    
    padding: 15px;
}

.ReactModal__Overlay {
    z-index: 9;
}

body.ReactModal__Body--open {
    overflow: hidden;
}

.mdl-list__item {
    color: #fff;
}

.mdl-list__item--three-line .mdl-list__item-text-body {
    color: #fff;
    margin-top: 5px;
}

a {
    text-decoration: none;
}