@import "./base";

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
}

* {
    -webkit-font-smoothing: antialiased;
}

html {
    background-color: #000;
}

.banner {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    min-height: 600px;
    padding: 0 40px;
    background-color: #000;
    color: #fff;
  }

  button:hover {
    background-color: #2398f5;
  }

  .screenshots {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 500px;
    flex: 1;
    max-width: 1100px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.screenshot-img {
    flex: 1;
}

.demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.screenshot-img>div {
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    border-bottom: 1px solid #eee;
}

.oss-wrapper {
    background-color: #673AB7;
    padding-top: 30px;
    padding-bottom: 60px;
}

.mdl-card__supporting-text {
    width: 100%;
}

.mdl-card__actions .source {
    float: right;
    margin-right: 8px;
}

.mdl-card__actions .mdl-button--icon {
    font-size: 16px;
}

.social-home {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.social-home svg {
    color: #fff;    
    height: 32px;
}

.ReactModal__Overlay {
    z-index: 9;
}

body.ReactModal__Body--open {
    overflow: hidden;
}

.mdl-list__item {
    color: #fff;
}

.mdl-list__item--three-line .mdl-list__item-text-body {
    color: #fff;
    margin-top: 5px;
}

a {
    text-decoration: none;
}


.rs-img{
    height: 100%;
    background: no-repeat center;
    background-size: cover;
    float: left;
    opacity: 0.6;
    width: 100%;
    will-change: opacity;
    transition: opacity .3s;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -o-transition: opacity .3s;
  }
  
  .rs-loaded{
    opacity: 1;
    background-size: contain;
  }